@font-face {
	font-family: open-sans;
	font-weight: 300;
	src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
	font-family: open-sans;
	font-weight: 400;
	src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
	font-family: open-sans;
	font-weight: 600;
	src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
	font-family: open-sans;
	font-weight: 700;
	src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
	font-family: open-sans;
	font-weight: 800;
	src: url(../fonts/OpenSans-ExtraBold.ttf);
}

@font-face {
	font-family: raleway;
	font-weight: 300;
	src: url(../fonts/Raleway-Light.ttf);
}

@font-face {
	font-family: raleway;
	font-weight: 400;
	src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
	font-family: raleway;
	font-weight: 700;
	src: url(../fonts/Raleway-Bold.ttf);
}
